<div>

    <div class="modal-header">
        <h5 style="text-align: center" class="modal-title">Network graph of discussion</h5>
    </div>

    <div class="modal-body">

        <style type="text/css">
            body, html {
                font-family: sans-serif;
            }
        </style>

        <vis-network ng-show="true" data="data" options="options""></vis-network>

    </div>

    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-primary" type="button" ng-click="ok()">אישור</button>
    </div>

</div>