<div dir="rtl">
    <div class="modal-header">
        <h3 class="modal-title">כתיבת הודעה לקבוצה</h3>
    </div>
    <div class="modal-body">
        <textarea class="form-control form-group text-right" rows="3" placeholder="כתיבת הודעה" style="resize: none;width:100%;" ng-model="pmText"></textarea>
    </div>

    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-primary" type="button" ng-click="ok()">שליחה</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">ביטול</button>
    </div>
</div>