<div id="tblWrapper" dir="rtl" ng-repeat="node in nodeCtrl.nodes" ng-style="node.depth===0 && {'padding-bottom': '0', 'margin-bottom': '20px', 'background-color':'#f2f2f2', 'border-radius': '5px 5px 0px 0px'}" >

    <div id="rowWrapper" style="border-bottom-width: 1px; border-bottom-style:groove; " ng-style="(node.role==='admin' && {'background-color': '#92FFEB', 'border-radius': '5px 5px 0px 0px'}) || (node.role==='instructor' && {'background-color': '#ffffe6', 'border-radius': '5px 5px 0px 0px'})">

        <div class="tblRow">
            <div class="tblCell" style="width:55%; " ng-style="{'padding-right':node.depth * 20 + 'px'}">

               <span style="width:70%" ng-style="node.depth===0 && {'font-weight':'bold'}">
                     <overflow-content class=non-expanded node="node" role="node.color"></overflow-content>
               </span>

                <div ng-show="node.replyPressed" ng-style="{'padding-right':(node.depth+1) * 4 + 'px'}">
                    <div style="width:75%" >
                        <textarea class="form-control text-right" rows="4" placeholder="תגובתך.." ng-model="nodeCtrl.replyText" style="resize: none;width:900px; margin: 5px; background-color: #DADAE5"></textarea>
                        <button type="submit" class="btn btn-primary btn-xs" ng-click="nodeCtrl.submitNewReply(node)">שליחה</button>
                        <button type="submit" class="btn btn-default btn-xs" ng-click="nodeCtrl.cancelReply(node)">ביטול</button>
                    </div>
                </div>

            </div>

            <div class="tblCell" style="width:5%; text-align:center; min-height: 1px;">
                <div ng-if="nodeCtrl.role == 'admin'" class="btn btn-xs">
                    <span ng-class="{'glyphicon glyphicon-eye-open': node.hidden}" ng-click="nodeCtrl.flipArgumentHiddenStatus(node)"></span>
                    <span ng-class="{'glyphicon glyphicon-eye-close': !node.hidden}" ng-click="nodeCtrl.flipArgumentHiddenStatus(node)"></span>
                </div>
            </div>

            <div class="tblCell" style="width:6%; min-height: 1px; text-align:center">
                <span style="color:firebrick" title="הודעה חדשה" ng-class="{'glyphicon glyphicon-fire': node.lastPost}"></span>
            </div>

            <div class="tblCell" style="width:13%; text-align:left">
                <span><small> {{::node.fname}} {{::node.lname}} </small></span>
                <span ng-class="{'glyphicon glyphicon-education': node.role==='student'}"></span>
                <span ng-class="{'glyphicon glyphicon-user': node.role==='instructor'}"></span>
            </div>

            <div class="tblCell" style="width:13%; text-align:left">
                <i style="font-size: 10px">{{nodeCtrl.prettyDate(node.createdAt)}}</i>
            </div>

            <div class="tblCell" style="width:5%; text-align:left">
                <i>
                    <small>#{{ ::node._id }}</small>
                </i>
            </div>

            <div class="tblCell rowButtomMgr" style="width:3%; text-align:left; padding-left:2px">
                <span title="תגובה" class="glyphicon glyphicon-comment btn btn-primary btn-xs" aria-hidden="true" ng-click="nodeCtrl.newReplyPressed(node)"></span>
            </div>
            <!--div class="tblCell" style="width:5%; text-align:center" align="left">
                <span class="glyphicon glyphicon-pencil btn btn-primary btn-xs" aria-hidden="true" ng-click="nodeCtrl.newReplyPressed(node)">
                    <small>תגובה</small>
                </span>
            </div-->

        </div><div class="clear"></div>




    </div>

    <treenode ng-if="node.sub_arguments" role="nodeCtrl.role" nodes='node.sub_arguments' tree="tree" options="options" ng-show="node.expanded" id="{{node._id}}"></treenode>
</div>