#scroller{
  background-color: #E0E3F3;
  width: 100%;
  top:0px;
  position:fixed;
  z-index:999;
  padding-top:15px;
}

#tblWrapper {
    width: 100%;
    margin: 0 auto;
}

#treeConversation{
    padding:10px;
}

.tblRow {
    padding-right:10px;
    margin-top: 2px;
}

.rowButtomMgr{
    margin-bottom: 2px;
}

.tblCell {
    width: 80%;
    float: right;
    text-align: right;
}

.clear {
    clear: both;
}

hr.newArgSection {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

.non-expanded {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.expanded {
    word-wrap: break-word;
    white-space: pre-line;
    vertical-align: top;
}

#onlineUsers {
    padding:0;
    margin:0;
}

#onlineUser{
    list-style-type:none;
    /*noinspection CssUnknownTarget*/
    /*background: url('/resources/imgs/user.gif');
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:25px;*/
    margin: 2px;
    vertical-align: middle;
}

.iconFlash {
    animation: blink 1.0s ease-in infinite;
}

@keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0 }
}