th{
	text-align: center;
	width: 33%;
	// vertical-align: center;
}

td{
	text-align: center;
	width: 33%;
	// vertical-align: center;
}

#headRow{
	background-color: #B29ADE;
}

#descEdit{
	text-align: right;
}

#radio label {
	float: right;
    display: inline
}
/*radio {*/
    /*display: inline;*/
/*}*/
#radio input {
	width: auto;
	margin-left: 3em;
}