body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E0E3F3;
}
/*temp!*/
div {
  border: 1px solid black;
}
/*temp!*/

#form-title{
  padding: 10px;
}

#register-error{
	padding: 0px;
	color: red;
}