<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discussions Platform</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" crossorigin="anonymous">
    <!-- custom CSS -->
    <link href="/resources/stylesheets/main.css" rel="stylesheet">
    <link href="/resources/stylesheets/arguments.css" rel="stylesheet">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">

    <base href="/discussions/">
</head>

<body ng-app="argumentsApp">

<div class="container-fluid" ng-controller="ArgumentsTreeController" ng-cloak>

    <div class="row" ng-controller="ModalCtrl">
        <div id="scroller">
            <!-- new argument prompt -->
            <div class="row">
                <div class="col-md-4" style="float:right">

                    <div class="form-group" style="width: 100%;margin-bottom: 0px;" ng-show="isPermittedPoster && !locked">
                        <form class="form-inline" >
                            <!--textarea class="form-control form-group text-right" rows="3" placeholder="כתיבת רעיון חדש..." style="resize: none;width:80%;" ng-model="newArgument"></textarea-->
                            <div data-placeholder="כתיבת רעיון חדש..." class="intoTextarea form-control form-group" ui-tinymce="tinymceOptions" style="height: 5.2em;line-height: 1.3;width:80%;" ng-model="newArgument"></div>
                            <span style="vertical-align:bottom;" class="glyphicon glyphicon-share-alt btn btn-info icon-flipped" ng-click="submitNewArgument(newArgument)" title="פרסום רעיון חדש"></span>
                        </form>
                    </div>

                </div>

                <div class="col-md-3 text-left body">

                    <div style="cursor: default;width: 45%;height: 4.7em;line-height: 1.1;overflow: auto;display: inline-block; background-color:white; border-color:white; border-radius: 3px; border-style:solid; border-width:1px; padding:3px;">
                        <h6 style="padding:0px; margin:0; text-align: right">כרגע בדיון:</h6>
                        <ul id="onlineUsers" ng-repeat="onlineUser in onlineUsers" >
                            <li id="onlineUser" class="col-non-expanded">
                                <small>
                                    <span style="color: {{onlineUser.color}}" class="glyphicon glyphicon-user"></span>
                                    {{onlineUser.fname}} {{onlineUser.lname}}
                                </small>
                            </li>
                        </ul>
                    </div>
                    <span style="vertical-align:top;margin-bottom: 0px;margin-right:5px" class="glyphicon glyphicon-log-out btn btn-danger icon-flipped" ng-click="logoutUser()" title="Log-out"></span>
                    <br>
                </div>

                <div class="col-md-5 text-center body" style="color:white;">
                        <h3>{{discussionTitle}}</h3>
                        <h4>{{discussionDescription}}</h4>
                </div>

            </div>


            <!--hr class="newArgSection" style="margin-bottom:0; margin-top:0"-->

        </div>
    </div>

    <!-- existing arguments rendering -->
    <div class="row" id="treeConversation">
        <tree nodes='treeNested' role='role' locked="locked"></tree>
    </div>

    <div class="row" style="text-align: left;margin-left: 30px">
        <button class="btn btn-xs btn-warning floatingBackBtn" ng-if="backButton" ng-click="clickBackButton()">« חזרה</button>
    </div>

    <footer style="margin-top:30px">
        <div ng-if="role == 'admin' || role == 'moderator'" class="btn-lg btn-primary" style="float:left" ng-click="flipDiscussionLock()">
            <span ng-class="{'fa fa-unlock': locked}" title="פתח דיון לכתיבה"></span>
            <span ng-class="{'fa fa-lock': !locked}" title="נעל דיון לכתיבה"></span>
        </div>
        <div ng-controller="ModalCtrl" ng-if="role == 'admin' || role == 'moderator'" class="btn-lg btn-primary" style="float:left;margin-left: 2px" ng-click="presentDiscussionNetworkGraph()">
            <span class="fa fa-pie-chart" aria-hidden="true"></span>
        </div>
    </footer>

    <chat class="floatingChat"></chat>

    <collaboration-pad id="CollaborationPad" class="floatingCollaborationPad"></collaboration-pad>

    <!-- </div> -->

</div>



<!-- JQuery -->
<script type="text/javascript" src="/libs/jquery/jquery.js"></script>
<!-- Angular js -->

<script type="text/javascript" src="/libs/angular/angular.js"></script>

<script type="text/javascript" src="/libs/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/libs/angular-sanitize/angular-sanitize.js"></script>
<!-- local helper libs -->
<script type="text/javascript" src="/libs/angular-recursion.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/libs/angular-socket-io/socket.js"></script>
<script type="text/javascript" src="/libs/moment/moment.js"></script>
<!-- local custom app js -->
<script type="text/javascript" src="/js/modules/argumentsPlatform.js"></script>
<script type="text/javascript" src="/js/services/argumentsService.js"></script>
<script type="text/javascript" src="/js/configs/argumentsFactory.js"></script>
<script type="text/javascript" src="/libs/angular-tree-widget.js"></script>
<script type="text/javascript" src="/js/configs/socketsFactory.js"></script>
<script type="text/javascript" src="/js/configs/graphJsonFactory.js"></script>

<script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/libs/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/libs/angular-ui-tinymce/tinymce.js"></script>

<script type="text/javascript" src="/libs/vis/dist/vis.min.js"></script>
<script type="text/javascript" src="/libs/angular-visjs/angular-vis.js"></script>

<script type="text/javascript" src="/js/modules/uiBootstrapModal.js"></script>
<script type="text/javascript" src="/js/modules/discussionChat.js"></script>
<script type="text/javascript" src="/js/modules/discussionCollaborationPad.js"></script>
</body>
</html>

