<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hot Discussions Platform</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" crossorigin="anonymous">
    <!-- custom CSS -->
    <link href="/resources/stylesheets/main.css" rel="stylesheet">
    <link href="/resources/stylesheets/arguments.css" rel="stylesheet">

    <base href="/discussions/">
</head>

<body ng-app="argumentsApp">

<div class="container-fluid" ng-controller="ArgumentsTreeController">
    <header class="text-center">
        <h1>{{discussionTitle}}</h1>
        <h3>{{discussionDescription}}</h3>
    </header>

    <div id="scroller-anchor" ></div>
    <div class="row">
        <div id="scroller">
            <!-- new argument prompt -->
            <div class="row">

                <div class="col-md-6 text-right body" style="float:right">
                    <div style="width:40%">
                        <button type="submit" class="btn btn-primary" ng-click="submitNewArgument(newArgument)">פרסום רעיון חדש</button>
                        <span style="float: left;"><h5><a href="/auth/login">Log Out</a></h5></span>
                    </div>

                    <div class="form-group" style="width: 90%;">
                        <form class="form-inline">
                            <textarea class="form-control text-right" rows="3" placeholder="רשום כאן" style="width:100%" ng-model="newArgument"></textarea>
                        </form>
                    </div>

                </div>

                <div class="col-md-3 text-left body" >
                    <div style="display: inline-block; border-style:solid; border-width:1px; padding:0; margin:0">
                        <h5 style="padding:0; margin:0">:On-line</h5>

                        <!--<div id="onlineUsers" style="width: 90%;">-->
                        <ul id="onlineUsers" ng-repeat="onlineUser in onlineUsers" >
                            <li id="onlineUser">{{onlineUser.fname}} {{onlineUser.lname}}</li>
                        </ul>
                        <!--</div>-->
                    </div>
                </div>

                <div class="col-md-3 text-right body" style="float:right">
                    <span><!-- PUT SOMETHING HERE MAYBE? --></span>

                </div>


            </div>


            <hr class="newArgSection" style="margin-bottom: 0">

        </div>
    </div>



    <!-- existing arguments rendering -->

    <!-- <div class="row" id="treeConversation"> -->
    <div class="row" id="treeConversation">
        <tree nodes='treeNested'></tree>
    </div>

    <footer class="text-left">
        <p>maintained by BGU</p>
    </footer>

    <!-- </div> -->



</div>



<!-- JQuery -->
<script type="text/javascript" src="/libs/jquery/jquery.js"></script>
<!-- Angular js -->
<script type="text/javascript" src="/libs/angular/angular.js"></script>
<script type="text/javascript" src="/libs/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/libs/angular-sanitize/angular-sanitize.js"></script>
<!-- local helper libs -->
<script type="text/javascript" src="/libs/angular-recursion.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/libs/angular-socket-io/socket.js"></script>
<script type="text/javascript" src="/libs/moment/moment.js"></script>
<!-- local custom app js -->
<script type="text/javascript" src="/js/modules/argumentsPlatform.js"></script>
<script type="text/javascript" src="/js/services/argumentsService.js"></script>
<script type="text/javascript" src="/js/configs/argumentsFactory.js"></script>
<script type="text/javascript" src="/libs/angular-tree-widget.js"></script>
<script type="text/javascript" src="/js/configs/socketsFactory.js"></script>
</body>
</html>

